<h1>User Portal</h1>

<!-- LOGIN -->

<div *ngIf="page() === 'login'">
  <h2>Login</h2>

  <input type="text" placeholder="Username" [(ngModel)]="loginUser" />

  <br /><br />

  <input type="password" placeholder="Password" [(ngModel)]="loginPass" />

  <br /><br />

  <button (click)="login()">Login</button>

  <p>
    New User?
    <button (click)="page.set('signup')">Signup</button>
  </p>
</div>

<!-- SIGNUP -->

<div *ngIf="page() === 'signup'">
  <h2>Signup</h2>

  <input type="text" placeholder="Username" [(ngModel)]="username" />

  <br /><br />

  <input type="password" placeholder="Password" [(ngModel)]="password" />

  <br /><br />

  <button (click)="signup()">Create Account</button>

  <p>
    Already have account?
    <button (click)="page.set('login')">Login</button>
  </p>
</div>

<!-- DASHBOARD -->

<div *ngIf="page() === 'dashboard'">
  <h2>Dashboard</h2>

  <h3>Welcome {{ loggedUser }}</h3>

  <button (click)="logout()">Logout</button>
</div>
